html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

body,
input,
select,
option,
textarea {
  font-family: "Ubuntu", sans-serif;
}

code {
  font-family: "Ubuntu Mono", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img,
video {
  max-width: 100%;
}

body {
  background: var(--c-ui-bg);
  --roundness-01: 0px !important;
}
